
.vs/Lab1.Console/v15/.suo
.vs/Lab1.Console/v15/Server/sqlite3/db.lock
.vs/Lab1.Console/v15/Server/sqlite3/storage.ide
.vs/Lab1.Console/v15/Server/sqlite3/storage.ide-shm
.vs/Lab1.Console/v15/Server/sqlite3/storage.ide-wal
